@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*, :root {
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
}

body {
  border: 1px;
}

main {
  max-width: 640px;
  padding: 20px;
  margin: 0 auto 5%;
}

#acertos {
  text-align: center;
  background-color: #536F50;

  position: fixed;
  bottom:0;
  left:0;

  width: 100%;
  padding: 1%;
}